.item{
    border-right: 1px solid black;
    margin-right: 50px;
    padding-left: 10px;
    
}

.name{
    color: black;
    text-decoration: none;
    padding-top: 5px;
}
.name .active{
    color: red;
}
