.nav{
    margin-top: 5px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
  }
  .manu__nav{
    list-style-type: none;
    padding: 10px;
  }
  .item a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    flex-direction: column; 
    text-align: center; 
  }

 .item a:hover{
   color: rgb(88, 135, 235);
 }
 .item .active{
   color: red;
 }